@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* styles/globals.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
